.list {
    background: #EDEDED;
    width: 350px;
    padding: 6px;
    margin: 5px;
    display: inline-block;
}

.list__title {
    margin: 0;
    padding: 16px 0;
    color: black;
}

.list a {
    width: 100%;
    display: block;
    text-decoration: none;
    margin-top: 10px;
}

.list__newcard {
    background-color: #6D6D6D;
    color: white;
}

input {
    width: 300px;
    padding: 10px;
    border: 1px solid violet;
    outline: 0;
    background: #fff;
    box-shadow: none;
}
