<!-- Latest, minified-->
<script src="https://unpkg.com/arweave/bundles/web.bundle.min.js"></script>

<div class="row ml-1">
    <p class="margin"><b>Everlasting</b></p>
    <button mat-button class="login ml-auto mr-3 margin" (click)="login()">WeaveID</button>
</div>

<br><br>

<app-board [store]="cardStore"></app-board>

<div class="footer">
    <a target="_blank" href="https://github.com/demo-hub/Arweave-trello">
        <fa-icon [icon]="github"></fa-icon>
    </a>
    <a target="_blank" href="https://twitter.com/suembra">
        <fa-icon [icon]="twitter"></fa-icon>
    </a>
</div>

<notifier-container></notifier-container>