<h1 mat-dialog-title>Add Task</h1>
<div mat-dialog-content>
    <form [formGroup]="addTaskForm">

        <mat-form-field>
            <mat-label>Title</mat-label>
            <input matInput formControlName="title">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Description</mat-label>
            <input matInput formControlName="description">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Priority</mat-label>
            <mat-select formControlName="priority">
                <mat-option value="high">High</mat-option>
                <mat-option value="medium">Medium</mat-option>
                <mat-option value="low">Low</mat-option>
            </mat-select>
        </mat-form-field>

        <br><br>

        <p class="separator">Tags</p>

        <div mat-dialog-actions>
            <mat-form-field>
                <mat-label>Tag</mat-label>
                <input matInput formControlName="tag" class="tag-input">
            </mat-form-field>
            <button mat-button (click)="addTag()" class="add-button">Add Tag</button>
        </div>

        <mat-selection-list #tags [multiple]="false">
            <mat-list-option *ngFor="let tag of addTaskForm.controls.tags.value" (click)="showDeleteTag = true" [value]="tag">
                {{tag}}
            </mat-list-option>
        </mat-selection-list>

        <br>

        <button [hidden]="!showDeleteTag" mat-button (click)="deleteTag(tags.selectedOptions.selected[0]?.value)" class="delete-button">Delete Tag</button>

        <br>

    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Close</button>
    <button mat-button class="add-button" [mat-dialog-close]="addTaskForm.value" cdkFocusInitial>{{data ? 'Edit' : 'Add'}}</button>
</div>
