<mat-card class="card" draggable="true" (dragstart)="dragStart($event)" id="{{card.id}}">
    <mat-card-header>
        <mat-card-title>
            <fa-icon [hidden]="!card.priority" [icon]="flag" [ngClass]="card.priority" [matTooltip]="card.priority ? card.priority + ' priority' : ''"></fa-icon> {{card.title}}
        </mat-card-title>
        <div>
            <fa-icon [icon]="edit" class="edit" (click)="editCard(card.id)" matTooltip="Edit"></fa-icon>
            <fa-icon [icon]="times" class="delete" (click)="deleteCard(card.id)" matTooltip="Delete"></fa-icon>
        </div>
    </mat-card-header>
    <mat-card-content>
        {{card.description ? card.description : ''}}
    </mat-card-content>
    <mat-card-footer>

    </mat-card-footer>
</mat-card>
