mat-card {
    background: black;
    // margin: 0 0 6px 0;
    // padding: 6px 6px 2px 8px;
    // border: 1px solid green;
    // font-style: italic;
    color: #fff;
    margin-top: 2%;
}

.delete {
    float: right;
    color: red;
}

.edit {
    color: yellow;
    padding-right: 0.3em;
}

fa-icon:hover {
    cursor: pointer;
}

mat-card-header {
    display: flex;
    justify-content: space-between;
}

.high {
    color: red;
    padding-right: 0.3em;
    font-size: 12px;
}

.medium {
    color: yellow;
    padding-right: 0.3em;
    font-size: 12px;
}

.low {
    color: green;
    padding-right: 0.3em;
    font-size: 12px;
}

.mat-card-footer {
    padding-left: 0.7em;
}

span {
    border: 2px solid #6D6D6D;
    margin-right: 0.3em;
    background-color: #6D6D6D;
}
